<html>
  <head>
    <link rel="stylesheet" type="text/css" href="main.css">
    <script src="scripts/jquery-1.8.3.min.js"></script>
    <script src="scripts/main.js"></script>	  
    <title>Rtube</title>    
  </head>
  <body>
    <select size="3" id="channel_sel">
    </select>
    <select size="3" id="video_sel">
    </select>
    <button id="update">Update</button>
    <button id="unview">Mark es unviewed</button>
    <button id="view">Mark es viewed</button>
    <div  id="load_gif"></div>
    <br />
    <p id="vid_info"></p>
  </body>
</html>


