#channel_sel {
    width:30%;
    height:80%;
}
#video_sel{
    width:69%;
    height:80%;
}
/* #unview{ */
/*     position:absolute; */
/*     right:0px; */
/* } */
/* #update{ */
/*     position:absolute; */
/*     right:0px; */
/* } */